<div class = "container">
  <div class="userdetail">
    <h1>ユーザー情報</h1>
    <div>
      <div class="list-group-item">
        <h3>学年</h3>
        <div class="userfont"><%= @user.grade %></div>
      </div>
      <div class="list-group-item">
        <h3>学部</h3>
        <div class="userfont"><%= @user.expert %></div>
      </div>
      <div class="list-group-item">
        <h3>ニックネーム</h3>
        <div class="userfont"><%= @user.nickname %></div>
      </div>
    </div>
  </div>
</div>