<div class="container">
<h1> ユーザー一覧</h1>
  <%= @users.count - 6 %>
  <% @users.each do |user| %>
    <div class="list-group-item">
      <%= user.grade %>
      <%= user.expert %>
      <%= user.nickname %>
    </div>
  <% end %>
</div>