<div class="down-wrapper">
  <div class="container">


  <h1>情報共有を広大専用ソーシャルメディアで!!</h1>
  

  <h2>学部別投稿</h2>
  <div class="box16">
  <p>各学部に分かれており、その学部の中で投稿をして共有していくコーナーです。</p>
  <p>学科ごとのコミュニティーなので、その学科の中で投稿されたものしか閲覧できません。</p>
  </div>

  <h2>目的別投稿</h2>
  <div class="box16">
  <p>学校生活、部活・サークル、就職活動の3つのカテゴリーを準備しています。その中で共有します。</p>
  </div>

  </div>
</div>
