<div class="container">
  <div class="aboutpage">
  <h1>情報共有をソーシャルメディアで!!</h1>

  <p>僕たちは、本学の広大生が垣根を越えて学校情報、就活などの情報を共有できるように<br>
  このアプリを作成しました。コロナ禍の中、みんなで情報共有していく一つのツールになればいいなと思います。</p>

  <h2>学部別投稿</h2>

  <p>各学部に分かれており、その学部の中で投稿をして共有していくコーナーです。</p>

  <p>学科ごとのコミュニティーなので、その学科の中で投稿されたものしか閲覧できません。</p>

  <h2>目的別投稿</h2>

  <p>学校生活、部活・サークル、就職活動の3つのカテゴリーを準備しています。その中で共有します。</p>
  </div>
</div>
