<div class = "container">
  <div class="row deabout">
  <h3>法学部</h3>
  <ul>
    <%= link_to "質問一覧", "/posts/houindex" , class: "list-group-item" %>
    <%= link_to "新規質問", "/posts/hounew" , class: "list-group-item" %>
  </ul>

  <div>
    <%= link_to "学部一覧に戻る", "/unilist", class: "btn btn-success btn-lg" %>
  </div>
  </div>
<div>