
<div class = "container">
  <div class = "row logintop">
  <h1>広大掲示板hiroshiへようこそ！</h1>

  <div>
    <h2><%= link_to "目的別投稿部屋", "/mokulist", class: "btn btn-success btn-lg" %></h2>
    <p>この部屋は、学部関係なく、目的別に投稿部屋を作成しています。<span>学校生活、サークル部活、就活</span>の3グループに分けています。</p>
  </div>
  <div>
    <h2><%= link_to "学部別投稿部屋", "/unilist", class: "btn btn-success btn-lg" %></h2>
    <p>この部屋は、<span>学部別</span>に投稿ルームを作っていて、その中で投稿していく形となっています。各学部の授業情報、学部生活の質問に最適です。</p>
    <p>例えば、法学部の投稿部屋の中で投稿したら、その投稿は、法学部の投稿部屋の中に残ります。<span>各学部の授業情報などを聞くのに最適です。</span></p>
  </div>
  </div>
</div>
