<div class="container">
  <div class="row mokulist">
  <h1>目的別投稿部屋</h1>

  <div class="mokulistdetail">
    <ul>
      <%= link_to "学校生活", "/gakkouabout" , class: "list-group-item" %>
      <%= link_to "部活・サークル", "/sakuruabout" , class: "list-group-item" %>
      <%= link_to "就職活動", "/syuabout" , class: "list-group-item" %>
    </ul>
  </div>

  <div>
    <%= link_to "ログイントップに戻る", "/logintop", class: "btn btn-success btn-lg mokubotton" %>
  </div>
</div>