<div class="mokulist">
  <div class="container">

    <h1>学校生活編</h1>

    <p><span>学校生活</span>、<span>部活・サークル</span>、<span>就職活動</span>に分けて投稿部屋を作っています。</p>

    <div>
      <ul>
        <li><%= link_to "学校生活", "/gakkouabout"  %></li>
        <li><%= link_to "部活・サークル", "/sakuruabout"  %></li>
        <li><%= link_to "就職活動", "/syuabout"  %></li>
      </ul>
    </div>

    <div>
      <%= link_to "ログイントップに戻る", "/logintop", class: "button-square-so-pop" %>
    </div>

  </div>
</div>