<div class="mokulist">
  <div class="container">

    <h1>学校生活編</h1>

    <p><span>学校生活</span>、<span>部活・サークル</span>、<span>就職活動</span>に分けて投稿部屋を作っています。</p>

    <div>
      <ul>
        <li><%= link_to "学校生活", "/gakkouabout"  %></li>
        <h4>普段の学校生活や、住まい、バイトなどの日常生活に関する質問歓迎!!</h4>
        <li><%= link_to "部活・サークル", "/sakuruabout"  %></li>
        <h4>西条キャンパスにある部活・サークルに関する情報を共有していきます。(新入生のためになれば)</h4>
        <li><%= link_to "就職活動", "/syuabout"  %></li>
        <h4>就職する企業やインターンの情報、就活の対策などを共有していくと面白いです。</h4>
      </ul>
    </div>

    <div>
      <%= link_to "ログイントップに戻る", "/logintop", class: "button-square-so-pop" %>
    </div>

  </div>
</div>