<div class="container">
  <div class="row mokulist">
  <h1>学校生活編</h1>

  <p><span>学校生活、部活、サークル</span>に分けて投稿部屋を作っています。</p>

  <div class="mokulistdetail">
    <ul>
      <%= link_to "学校生活", "/gakkouabout" , class: "list-group-item" %>
      <%= link_to "部活・サークル", "/sakuruabout" , class: "list-group-item" %>
      <%= link_to "就職活動", "/syuabout" , class: "list-group-item" %>
    </ul>
  </div>

  <div>
    <%= link_to "ログイントップに戻る", "/logintop", class: "btn btn-success btn-lg mokubotton" %>
  </div>
</div>