<div class = "mokulist">
  <div class="container">

    <h1>理学部</h1>

    <ul>
      <li><%= link_to "質問一覧", "/posts/riindex" %></li>
      <li><%= link_to "新規質問", "/posts/rinew" %></li>
    </ul>

    <div>
      <%= link_to "学部一覧に戻る", "/unilist", class: "button-square-so-pop" %>
    </div>

  </div>
<div>