  <div class="top-wrapper">
    
    <h1>広大掲示板hiroshi</h1>

    <h2>コロナ禍の今、広島大学生で情報共有を手助けするアプリ。。</h2>

  </div>

<div class = "container">

  <div class="middle-wrapper">
  
    <h1>THIS APP</h1>
    <div class="box17">
    <p>このアプリは、広島大学生内でのソーシャルメディアアプリです。</p>
    <p>コロナ禍の今、広島大学内の生徒内で新たなつながりを見つけたり、有益な情報を手に入れるのに役に立てれば幸いです。</p>
    </div>

    <h1>今すぐアプリを利用する</h1>

    <%= link_to "新規登録はこちら", "/users/new", class: "box9" %>
    <%= link_to "ログイン", "/login", class: "box8" %>

  </div>

  <div class="down-wrapper">

    <h1>アプリの機能一覧</h1>

    <h2>質問、回答の機能</h2>
    <div class="box16">
      <p>誰かが質問して、誰かがその質問に答える機能を実装しました。</p>
      <p>ツイッターでいう、誰かが投稿したやつに対して質問するという機能です。</p>
    </div>

    <h2>ファイル投稿機能</h2>
    <div class="box16">
      <p>ファイルを投稿できる機能を実装しました。</p>
      <p>過去問とか画像ファイルを共有するのに利用してください。</p>
    </div>

    <h2>検索機能</h2>
    <div class="box16">
      <p>自分の探してる投稿を見つけることができます。</p>
      <p>調べたキーワードを含む投稿を返します。</p>
    </div>

    <h2>フォロー機能</h2>
    <div class="box16">
      <p>お気に入りの人をフォローすることができます。</p>
      <p>フォローとフォロワーを確認できます。</p>
    </div>

    <h2>いいね！機能</h2>
    <div class="box16">
      <p>お気に入りの質問や回答に対して、いいね！をできます。</p>
      <p>ツイッターみたいに手頃にできておすすめです。</p>
    </div>

  </div>

</div>