<div class="container">
  <div class="row toppage">
    <h1>広大掲示板hiroshi</h1>

    <h2>コロナ禍の今、より広く、より多く情報共有を!!</h2>

    <p><span>広大生、特にコロナ禍で入学してきた02、03の学生は、十分な交流がなく、情報共有が希薄です。</span></p>
    <p>みんな気軽に質問できて、お互いを助け合う雰囲気がこの掲示板から出るといいなーーって思います。</p>
    <p>Q&A方式です。</p>

    <%= link_to "ログイン", "/login", class: "btn btn-primary btn-lg topbotton" %>

    <%= link_to "新規登録", "/users/new", class: "btn btn-danger btn-lg topbotton" %>

    <p class="tyuui">※設定により、管理人には登録者の学年、学部、ニックネームしかわからないようになっています。</p>

  </div>
</div>
