<div class="container">
  <div class="row toppage">
    <h1>広大掲示板hiroshi</h1>

    <p>ここは、主に西条に通う広大生が、学校生活や、授業情報、就活に関して気軽に質問できるサイトです。</p>
    <p>yahoo知恵袋のような、質問者に対して、誰かが回答していくスタイルで運営しています。</p>

    <%= link_to "ログイン", "/login", class: "btn btn-primary btn-lg topbotton" %>

    <%= link_to "新規登録", "/users/new", class: "btn btn-danger btn-lg topbotton" %>

  </div>
</div>
