<div class="container">
<div class="row">
<h1>回答送信ページ</h1>
  <div class = "col-md-6 col-md-offset-3">
    <%= form_with(url: "/answers/#{@answer.user_id}/#{@answer.post_id}/#{@answer.auni_id}", model: @answer, local: true) do |f| %>

      <%= f.label :回答送信フォーム , class: "form-label" %>
      <%= f.text_area :content , size: "20x15", class: "form-control" %>

      <%= f.submit "回答を投稿する", class: "form-control answersub" %>
    <% end %>
  </div>
</div>
</div>
