 <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
  <%= link_to("/like/#{@post.id}/destroy", method: :delete, remote: true ) do %>
    <span class= "fas fa-heart like-btn-unlike" ></span>
  <% end %>
<% else %>
  <%= link_to("/like/#{@post.id}", method: :post, remote: true ) do %>
    <span class= "far fa-heart like-btn" ></span>
  <% end %>
<% end %>