// Place all the styles related to the Mainposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainpostbutton {
  margin-top: 30px;
}

.list-group-item {
  margin-top: 30px;
}

.mainpostsub {
  margin-top: 30px;
}

.mainshow h1 {
  margin-bottom: 40px;
}

.mainpostfont {
  font-size: 25px;
  color: orangered;
  margin-bottom: 15px;
}

.mainpostconfont {
  font-size: 35px;
}

.mainpostprofont {
  margin-top: 15px;
  font-size: 25px;
}

.mainshow h2 {
  color: red;
  background-color: chartreuse;
}

.warn {
  color: blue;
  font-weight: bold;
  font-size: 22px;
  margin-top: 30px;
}