// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.postbutton {
  margin-top: 30px;
}

.list-group-item {
  margin-top: 30px;
}

.postsub {
  margin-top: 30px;
}

.show h1 {
  margin-bottom: 40px;
}

.postfont {
  font-size: 25px;
  color: orangered;
  margin-bottom: 15px;
}

.postconfont {
  font-size: 35px;
}

.postprofont {
  margin-top: 15px;
  font-size: 25px;
}

.mainshow h2 {
  color: red;
  background-color: chartreuse;
}