// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.subbo {
  margin-top: 30px;
}

.sessionlogin  {
  h1 {
    position: relative;
    color: #333;
    display: inline-block;
    margin: 47px 0;
    text-shadow: 0 0 2px white;
  }
  h1:before {
    content: "";
    position: absolute;
    background: #a9e1ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
    box-shadow: 0px 0px 0px 5px #a9e1ff;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
